APP_ENV=dev
EXPO_PUBLIC_SUPABASE_URL=https://YOUR_SUPABASE_PROJECT.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_PUBLIC_KEY
EXPO_PUBLIC_REVENUECAT_API_KEY_DEV_IOS=RC_TEST_PUBLIC_SDK_KEY_IOS
EXPO_PUBLIC_REVENUECAT_API_KEY_DEV_ANDROID=RC_TEST_PUBLIC_SDK_KEY_ANDROID
EXPO_PUBLIC_REVENUECAT_API_KEY_PROD_IOS=RC_LIVE_PUBLIC_SDK_KEY_IOS
EXPO_PUBLIC_REVENUECAT_API_KEY_PROD_ANDROID=RC_LIVE_PUBLIC_SDK_KEY_ANDROID

# 現段階では開発環境においてEXPO_PUBLIC_REVENUECAT_API_KEY_DEV_ANDROID と EXPO_PUBLIC_REVENUECAT_API_KEY_PROD_ANDROIDの値を入れていないため、
# 以下のEXPO_PUBLIC_REVENUECAT_API_KEY_DEVを使用している
EXPO_PUBLIC_REVENUECAT_API_KEY_DEV=RC_TEST_PUBLIC_SDK_KEY
EXPO_PUBLIC_REVENUECAT_API_KEY_PROD=RC_LIVE_PUBLIC_SDK_KEY
